NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_MAIN_DOMAIN=fbuploadpro.com
NEXT_PUBLIC_COOKIE_DOMAIN=.fbuploadpro.com
MAGIC_LINK_SIGNING_SECRET=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_USER_MEDIA_BUCKET=fbuploadpro-user-media
R2_ADU_BUFFER_BUCKET=fbuploadpro-adu-buffer
USER_MEDIA_PUBLIC_BASE_URL=
RSS_WORKER_SECRET=
WEBAPP_RENDER_BASE_URL=
